* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
}

.login-box {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.login-box input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-box button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #d3d3d3;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}


.login-box p {
    margin-top: 20px;
    text-align: center;
}

.login-box a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.side-image {
    flex: 1;
    background-color: #d3d3d3;
}
